.ts-board {
  max-width: 500px;
  margin: 100px auto;
}

.ts-button {
  display: flex;
}

.button-wrapper {
  margin-top: 20px;
  text-align: center;
}

.triangle-type {
  text-align: center;
  margin: 34px 0 10px 0;
}

.ts-icon-menuswitch {
  color: white !important;
}

.triangle-error {
  color: #BD0000;
}
